PORT=13000

DB_ADMIN=admin
DB_NAME=notifications
DB_USER=user
DB_USER_PASS=changeme
DATABASE_ADMIN_URL=changeme
DATABASE_URL=postgresql://[user]:[pass]@notifications-postgres:5432/notifications_db

RABBITMQ_URL=amqp://[user]:[pass]@[host]:5672/%2f[user]

REDIS_USER=gazella-notifications
REDIS_USER_PASS=changeme

ISSUER_URL=http://gazella-gateway:4000/oidc
